terraform/state-machine.json
{
  "Comment": "Release data from embargo to the public Discover bucket",

  "StartAt": "Run discover-release",

  "States": {

    "Run discover-release": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "${ecs_cluster}",
        "TaskDefinition": "${ecs_task_definition_arn}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ${subnets},
            "AssignPublicIp": "DISABLED",
            "SecurityGroups": [ "${security_group}" ]
          }
        },
        "Overrides": {
          "ContainerOverrides": [{
            "Name": "${service_name}",
            "Environment": [{
              "Name": "S3_KEY_PREFIX",
              "Value.$": "$.s3_key"
            }, {
              "Name": "PUBLISH_BUCKET",
              "Value.$": "$.s3_bucket"
            }]
          }]
        }
      },
      "TimeoutSeconds": ${timeout_seconds},
      "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "ResultPath": "$.error",
          "Next": "Notify failure"
        }
      ],
      "ResultPath": null,
      "Next": "Notify success"
    },

    "Notify success": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "${discover_publish_queue_id}",
        "MessageBody": {
          "job_type": "RELEASE",
          "organization_id.$": "$.organization_id",
          "dataset_id.$": "$.dataset_id",
          "version.$": "$.version",
          "s3_bucket.$": "$.s3_bucket",
          "status": "PUBLISH_SUCCEEDED",
          "success": true
        }
      },
      "End": true
    },

    "Notify failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "${discover_publish_queue_id}",
        "MessageBody": {
          "job_type": "RELEASE",
          "organization_id.$": "$.organization_id",
          "dataset_id.$": "$.dataset_id",
          "version.$": "$.version",
          "s3_bucket.$": "$.s3_bucket",
          "status": "RELEASE_FAILED",
          "success": false,
          "error.$": "$.error.Cause"
        }
      },
      "End": true
    }
  }
}
